
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 style="text-align:center; color:coral;">Hospital Passenger</h1>
        <a>
            <img style="width:1250px; height:550px;" src="~/Assets/10.jpg" />
        </a>
        <h4>About my project</h4>
        <p>
            This is HospitalPatient project where a patient can admit easily and a best treatment from hospital. Two tables
            (Hospitals and Patients) create and their relation is one-to-many. Using all data
            type. Using Ajax in the parent table "Hospitals" both Create and Edit. Using PartialView in the parent table
            "Hospitals" both Create and Edit. If Patient.Count > 0 then you can not delete because it will be "disabled".

        </p>
    </div>
</div>


